<div class="card" style="width: 18rem;">
    <img src="https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/e/0/e06898__celular_iphone_13_128gb_negro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">iphone 13</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 13000.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/e/0/e06641-iphone-13-bolivia.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">iphone 13pro</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 12000.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/a/p/apple_iphone_15_pro_max_256_gb_-_titanio_negro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> iphone 15</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 1500.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.apple.com/newsroom/images/2024/09/apple-debuts-iphone-16-pro-and-iphone-16-pro-max/article/Apple-iPhone-16-Pro-hero-geo-240909_inline.jpg.large.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> iphone 16 pro max</h5>
      <p class="card-text"> Colores disponibles: negro, plateado,gris hielo.
        precio: 15000
      </p>
      <a href="#" class="btn btn-primary">comprar</a>
    </div>
  
