<div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/419ltcqY08L._SL500_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">poco x3 pro</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 13000.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.tiendaamiga.com.bo/media/catalog/product/cache/deb88dadd509903c96aaa309d3e790dc/s/k/sku_e02686_ipqle4cw7spuyyye.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">samsung A51</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 12000.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://i.blogs.es/bac775/samsung-galaxy-a71-03/1366_2000.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">samsung galaxi A71</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 1500.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://i.blogs.es/411957/samsung-galaxy-a10s-1024x984/650_1200.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> samsung galaxi A10S </h5>
      <p class="card-text"> Colores disponibles: negro, plateado,gris hielo.
        precio: 15000
      </p>
      <a href="#" class="btn btn-primary">comprar</a>
    </div>
