<div class="card" style="width: 18rem;">
    <img src="https://http2.mlstatic.com/D_NQ_NP_706967-MCO79774717271_102024-O.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pc Gamer Rgb Ryzen 5 5600g + 16gb +ssd 500 + Monitor 22 pd</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 13000.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/127344182_01/w=800,h=800,fit=pad" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PC Gamer Rgb Ryzen 5 5600G + DDR4 16GB + SSD 512GB + Monitor 27''. AMD</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 12000.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.lacuracao.pe/media/catalog/product/s/g/sgmp9_01.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> PC Desktop Gamer Intel Core i7 16GB 1TB+480GB Video GTX 1650 4GB FHD</h5>
      <p class="card-text">Colores disponibles: negro, plateado,gris hielo.
        precio: 1500.</p>
        <a href="#" class="btn btn-primary">comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/617VXZCjDtL.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> PC GAMER AMD RYZEN 5 5600GT+A520M+16GB 3200+NVME 500GB+500W BIVOLT+GABINETE GAMER 3 FANS+MONITOR 21,5 100HZ HDMI+TECLADO E MOUSE GAMER RGB </h5>
      <p class="card-text"> Colores disponibles: negro, plateado,gris hielo.
        precio: 15000
      </p>
      <a href="#" class="btn btn-primary">comprar</a>
    </div>
