<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">precios</th>
        <th scope="col">caracteristicas</th>
        <th scope="col">productos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>accesibles</td>
        <td>gama baja</td>
        <td>telefono celulares</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>pago a vista</td>
        <td>gama alta</td>
        <td>laptops</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>pago en cuotas</td>
        <td>gama media</td>
        <td>pc</td>
      </tr>
    </tbody>
  </table>
